body {
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.Modal-logo {
  height: 3vmin;
  pointer-events: none;
  margin: auto;
  text-align: center;
}

.Main {
  background-image: url('./img/bg.png');
  background-color: #282c34;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.FOUO-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #008AFF;
  z-index: 999;
}

.FOUO-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #008AFF;
  z-index: 999;
}

.FOUO-text {
  color: white;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
  text-align: center;
}

.Login-padding {
  padding: 12px;
}

.Login-body {
  font-size: calc(3px + 1vmin);
}

.Button-padding {
  padding: 6px;
}

.Navbar-icon {
  height: 2.5vmin;
  padding-left: 15px;
}

.Navbar-dropdown {
  color: #000000;
  background: #E0E0E0;
  font-size: calc(1px + 1vmin);
  font-weight: bold;
  border-color: #999999;
}

.User-circle-small {
  background: lightblue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.User-img-round {
    border-radius: 50%;
    width:85%; 
    height:85%;
    margin: auto;
}

.Navbar-line {
  background: #aaaaaa;
  width: 2px;
  height: 25px;
}

.Navbar-line-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.spec-card {
  text-align: left;
  margin: .25rem;
  border-top-width: .25rem;
  border-radius: .25rem;
}

.spec-card.red {
  border-top-color: red;
}

.spec-card.blue {
  border-top-color: blue;
}

.spec-card.white {
  border-top-color: white;
}

.spec-card.none {
  border-top-color: transparent;
}

.spec-create-button {
  background-color: transparent;
  margin: .25rem;
  border: .25rem dashed blue;
  border-top-width: .25rem;
  border-top-style: solid;
  border-radius: .25rem;
}

.user-scroll {
  overflow-y: auto;
}

.tmp-fix {
  padding-top: 100px;
}
