body {
  /* height: 100vh;
  width: 100vw; */
  /* margin: 0;
  padding: 0; */
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.Modal-logo {
  height: 3vmin;
  pointer-events: none;
  margin: auto;
  text-align: center;
}

.Main {
  background-image: url('./img/bg.png');
  background-color: #282c34;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.FOUO-header {
  width: 100%;
  background-color: #008AFF;
}

.FOUO-footer {
  width: 100%;
  background-color: #008AFF;
}

.FOUO-text {
  color: white;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
  text-align: center;
}

.Login-padding {
  padding: 12px;
}

.Login-body {
  font-size: calc(3px + 1vmin);
}

.Button-padding {
  padding: 6px;
}

.Navbar-icon {
  height: 2.5vmin;
  padding-left: 15px;
}

.Navbar-dropdown {
  color: #000000;
  background: #E0E0E0;
  font-size: calc(1px + 1vmin);
  font-weight: bold;
  border-color: #999999;
}

.User-circle-small {
  background: lightblue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.User-img-round {
    border-radius: 50%;
    width:85%; 
    height:85%;
    margin: auto;
}

.Navbar-line {
  background: #aaaaaa;
  width: 2px;
  height: 25px;
}

.Navbar-line-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.spec-card {
  text-align: left;
  margin: 1rem;
  border-top-width: .25rem;
  border-radius: .25rem;
}

.spec-card.red {
  border-top-color: red;
}

.spec-card.blue {
  border-top-color: blue;
}

.spec-card.white {
  border-top-color: white;
}

.spec-card.none {
  border-top-color: transparent;
}

.spec-create-button {
  background-color: transparent;
  margin: .25rem;
  border: .25rem dashed #cccccc;
  /* border-top-color: blue; */
  /* border-top-width: .25rem; */
  /* border-top-style: solid; */
  border-radius: .25rem;
}

.spec-page nav {
  text-align: center;
}

.user-scroll {
  overflow-y: auto;
}

.tmp-fix {
  padding-top: 100px;
}
